@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

* {
    box-sizing: border-box;
}

button, input, textarea {
    background-color: transparent;
    color: inherit;
    background-image: none;
    border: none;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: auto;
    height: auto;
    overflow: visible;
    border-radius: 0;
    font: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    cursor: pointer;
}
input {
    margin: 0;
}